@import 'tailwindcss';
@source "../../libs";
@config "./tailwind.config.js";

/* required for mapbox to render correctly. */
@import 'mapbox-gl/dist/mapbox-gl.css';

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: #050505;
    color: #e2e8f0;
  }
}

/* hides default mapbox logo. */
.mapboxgl-ctrl-logo {
  display: none !important;
}

/* custom scrollbar for pop-up window. */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e3a8a; /* hud-border */
  border-radius: 0px;
}
