LLM_API=llm_api_key
LLM_MODEL=llm_provider/llm_model_name
LLM_API_1=llm_api_key_1
LLM_MODEL_1=llm_provider_1/llm_model_name_1

EMBED_API=embedding_api_key
EMBED_MODEL=embedding_provider/emebdding_model_name